USE [master]
GO
/****** Object:  Database [dtcSN]    Script Date: 25.04.2026 10:21:43 ******/
CREATE DATABASE [dtcSN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dtcSN', FILENAME = N'V:\Daten\SQL\dtcSN.mdf' , SIZE = 131072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 131072KB )
 LOG ON 
( NAME = N'dtcSN_log', FILENAME = N'W:\Daten\SQL\dtcSN_log.ldf' , SIZE = 65536KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dtcSN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dtcSN]
GO
/****** Object:  User [SLAReporting]    Script Date: 25.04.2026 10:21:43 ******/
CREATE USER [SLAReporting] FOR LOGIN [SLAReporting] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [ServiceNowReader]    Script Date: 25.04.2026 10:21:43 ******/
CREATE USER [ServiceNowReader] FOR LOGIN [ServiceNowReader] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NT SERVICE\HealthService]    Script Date: 25.04.2026 10:21:43 ******/
CREATE USER [NT SERVICE\HealthService] FOR LOGIN [NT SERVICE\HealthService] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NT AUTHORITY\SYSTEM]    Script Date: 25.04.2026 10:21:43 ******/
CREATE USER [NT AUTHORITY\SYSTEM] FOR LOGIN [NT AUTHORITY\SYSTEM] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FITSRead]    Script Date: 25.04.2026 10:21:43 ******/
CREATE USER [FITSRead] FOR LOGIN [FITSRead] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [SCOM_HealthService]    Script Date: 25.04.2026 10:21:43 ******/
CREATE ROLE [SCOM_HealthService]
GO
ALTER ROLE [db_owner] ADD MEMBER [SLAReporting]
GO
ALTER ROLE [db_owner] ADD MEMBER [ServiceNowReader]
GO
ALTER ROLE [SCOM_HealthService] ADD MEMBER [NT SERVICE\HealthService]
GO
ALTER ROLE [SCOM_HealthService] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
ALTER ROLE [db_owner] ADD MEMBER [FITSRead]
GO
/****** Object:  UserDefinedDataType [dbo].[Today]    Script Date: 25.04.2026 10:21:43 ******/
CREATE TYPE [dbo].[Today] FROM [date] NOT NULL
GO
/****** Object:  UserDefinedFunction [dbo].[BuildPath]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create FUNCTION [dbo].[BuildPath] (@Path varchar(256))
RETURNS Varchar(250)
AS
BEGIN
DECLARE @RETRUNVAL As varchar(250)

SELECT @RETRUNVAL= cast([dbo].ReplaceLastOccurrence(@Path,'.',';' )as varchar(256)) 
RETURN @RETRUNVAL


END
GO
/****** Object:  UserDefinedFunction [dbo].[CutDomain]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--declare @Fullname as varchar(255)=  'Microsoft.SQLServer.Windows.DBEngine:fts1w01dbfs0008.officelan.izb.MSSQLSERVER'

create FUNCTION [dbo].[CutDomain] (@Fullname varchar(255))
RETURNS Varchar(255)
AS
BEGIN
SET @Fullname =REPLACE( @Fullname ,';','.')
Declare @Result as varchar(255)

if PATINDEX ( '%:%' , @Fullname) > 0 
    BEGIN
	 Select @Result = SUBSTRING(@Fullname, PATINDEX ( '%:%' , @Fullname)+1,255)
	END


	Select @Result = SUBSTRING(@Result, PATINDEX ( '%.%' , @Result)+1,255)
	
	select @Result =reverse(right(reverse(@Result), len(@Result) - charindex('.',reverse(@Result),1) ));



  RETURN @Result

END




GO
/****** Object:  UserDefinedFunction [dbo].[CutMaschine]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create FUNCTION [dbo].[CutMaschine] (@Name varchar(255))
RETURNS Varchar(255)
AS
BEGIN


declare @Result varchar(255)
    
	SET @name =REPLACE( @name ,';','.')
	Select @Result =reverse(right(reverse(@name), len(@name) - charindex('.',reverse(@name),1) ));

	Return @Result

END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CustDomainCount]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create FUNCTION [dbo].[fn_CustDomainCount] (@CustomeriD int)
RETURNS Varchar(255)
AS
BEGIN

Declare @Result as varchar(255)

  Select @Result=count(*) from [dbo].[CustomerDomain] where CustomerID=@CustomerID
  RETURN @Result

END




GO
/****** Object:  UserDefinedFunction [dbo].[GetCustomerName]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetCustomerName] (@DomainDnsName varchar(100))
RETURNS  nvarchar(256)
AS
BEGIN
-- Verwendung in dbo.SQLServer
DECLARE @RETRUNVAL As nvarchar(256)

SELECT @RETRUNVAL= ISNULL([CustomerName],'???')
  FROM [dbo].[CustomerDomain]
  Where DomainDnsName LIKE '%' + @DomainDnsName + '%'

RETURN @RETRUNVAL


END
GO
/****** Object:  UserDefinedFunction [dbo].[GetCustomerNameLong]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[GetCustomerNameLong] (@CustomerID int)
RETURNS  nvarchar(256)
AS
BEGIN
-- Verwendung in dbo.SQLServer
DECLARE @RETRUNVAL As nvarchar(256)
select @RETRUNVAL=[NameLong] from [dbo].[Customer] where CustomerID=@CustomerID

RETURN @RETRUNVAL


END
GO
/****** Object:  UserDefinedFunction [dbo].[GetCustomerNameLong4Domain]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[GetCustomerNameLong4Domain] (@CustomerID int)
RETURNS  nvarchar(256)
AS
BEGIN
-- Verwendung in dbo.SQLServer
DECLARE @RETRUNVAL As nvarchar(256)
select @RETRUNVAL=[NameLong] from [dbo].[Customer] where CustomerID=@CustomerID

RETURN @RETRUNVAL


END
GO
/****** Object:  UserDefinedFunction [dbo].[GetCustomerNameShort]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetCustomerNameShort] (@DomainDnsName varchar(100))
RETURNS  nvarchar(256)
AS
BEGIN
-- Verwendung in dbo.SQLServer
DECLARE @RETRUNVAL As nvarchar(256)

SELECT @RETRUNVAL= ISNULL(CustomerShortName,'???')
  FROM [dbo].[CustomerDomain]
  Where DomainDnsName LIKE '%' + @DomainDnsName + '%'

RETURN @RETRUNVAL


END
GO
/****** Object:  UserDefinedFunction [dbo].[GetCustomerNameShort4Domain]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[GetCustomerNameShort4Domain] (@CustomerID int)
RETURNS  nvarchar(256)
AS
BEGIN
-- Verwendung in dbo.SQLServer
DECLARE @RETRUNVAL As nvarchar(256)
select @RETRUNVAL=[Name] from [dbo].[Customer] where CustomerID=@CustomerID

RETURN @RETRUNVAL


END
GO
/****** Object:  UserDefinedFunction [dbo].[GetDatabaseType]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetDatabaseType] (@ManagedEntityTypeRowId int)
RETURNS  nvarchar(256)
AS
BEGIN
DECLARE @RETRUNVAL As nvarchar(256)

SELECT @RETRUNVAL= ManagedEntityTypeSystemName
  FROM [dbo].ManagedEntityDatabaseType
  Where ManagedEntityTypeRowId = @ManagedEntityTypeRowId 

RETURN @RETRUNVAL


END
GO
/****** Object:  UserDefinedFunction [dbo].[GetEndofExtended]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[GetEndofExtended] (@ver varchar(255))
RETURNS nvarchar(256)
AS
BEGIN
Declare @VersionNr nvarchar(10)
Declare @RetunValue nvarchar(256)
select @VersionNr=sqlversion from [dbo].[SQLVersion]
where Left(@ver,LEN([productversion]))=[productversion]
select @RetunValue = EndofExtended from dbo.Support
where [VersionNr] =@VersionNr


Return @RetunValue

end

GO
/****** Object:  UserDefinedFunction [dbo].[GetEndOfMainstream]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[GetEndOfMainstream] (@ver varchar(255))
RETURNS nvarchar(256)
AS
BEGIN
Declare @VersionNr nvarchar(10)
Declare @RetunValue nvarchar(256)
select @VersionNr=sqlversion from [dbo].[SQLVersion]
where Left(@ver,LEN([productversion]))=[productversion]
select @RetunValue = [EndOfMainstream] from dbo.Support
where [VersionNr] =@VersionNr


Return @RetunValue

end

GO
/****** Object:  UserDefinedFunction [dbo].[GetSQLVersion]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetSQLVersion] (@ver varchar(255))
RETURNS nVarchar(256)
AS
BEGIN
--Verwendung in dbo.SQLServer
Declare @RetunValue nvarchar(256)
select @RetunValue=sqlversion from [dbo].[sqlVersion]
where Left(@ver,LEN([productversion]))=[productversion]
Return @RetunValue

end
GO
/****** Object:  UserDefinedFunction [dbo].[ReplaceLastOccurrence]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[ReplaceLastOccurrence]
(
    @Input NVARCHAR(MAX),
    @SearchChar NCHAR(1),
    @ReplaceChar NCHAR(1)
)
RETURNS NVARCHAR(MAX)
AS
BEGIN
    RETURN
        CASE 
            WHEN @Input IS NULL OR @Input = '' THEN @Input
            WHEN CHARINDEX(@SearchChar, @Input) = 0 THEN @Input
            ELSE 
                STUFF(
                    @Input, 
                    LEN(@Input) - CHARINDEX(@SearchChar, REVERSE(@Input)) + 1, 
                    1, 
                    @ReplaceChar
                )
        END
END
GO
/****** Object:  View [dbo].[vManagedEntity]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [dbo].[vManagedEntity]
as
Select * from [OperationsManagerDW].dbo.vManagedEntity 
GO
/****** Object:  View [dbo].[vManagedEntityProperty]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[vManagedEntityProperty]
as
Select * from [OperationsManagerDW].dbo.ManagedEntityProperty 
GO
/****** Object:  View [dbo].[vManagedEntityTypeAll]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vManagedEntityTypeAll]
as
SELECT [ManagedEntityTypeRowId]
      ,[ManagedEntityTypeGuid]
      ,[ManagementPackRowId]
      ,[ManagedEntityTypeSystemName]
      ,[ManagedEntityTypeDefaultName]
      ,[ManagedEntityTypeDefaultDescription]
  FROM [OperationsManagerDW].[dbo].[ManagedEntityType]

GO
/****** Object:  View [dbo].[vManagedEntityTypeProperty]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vManagedEntityTypeProperty] as
select * from OperationsManagerDW.[dbo].[ManagedEntityTypeProperty]
GO
/****** Object:  Table [dbo].[Computer]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Computer](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ManagedEntityRowId] [bigint] NULL,
	[TopLevelHostManagedEntityRowId] [bigint] NULL,
	[ManagedEntityTypeRowId] [bigint] NULL,
	[ManagedEntityDefaultName] [nvarchar](256) NULL,
	[Path] [nvarchar](256) NULL,
	[FullName] [nvarchar](256) NULL,
	[DisplayName] [nvarchar](256) NULL,
	[Maschine] [nvarchar](256) NULL,
	[DNSName] [nvarchar](256) NULL,
	[DomainDnsName] [nvarchar](256) NULL,
	[IPAddress] [nvarchar](256) NULL,
	[LogicalProcessors] [nvarchar](256) NULL,
	[NetbiosComputerName] [nvarchar](256) NULL,
	[NetworkName] [nvarchar](256) NULL,
	[OrganizationalUnit] [nvarchar](256) NULL,
	[PhysicalProcessors] [nvarchar](256) NULL,
	[PrincipalName] [nvarchar](256) NULL,
	[SQLCustomer]  AS ([dbo].[GetCustomerName]([DomainDnsName])),
	[SQLMandant] [nvarchar](256) NULL,
	[SQLMonitoringType] [nvarchar](256) NULL,
	[Virtual_Server_Type] [nvarchar](256) NULL,
	[VirtualMachineName] [nvarchar](256) NULL,
	[Modified] [date] NULL,
	[Insterted] [date] NOT NULL,
	[IsSCOM] [bit] NOT NULL,
	[DWCreatedDateTime] [date] NULL,
	[NotFoundSince] [date] NULL,
	[NotFoundSinceDays]  AS (datediff(day,[NotFoundSince],getdate())),
	[WindowsOS] [nvarchar](256) NULL,
 CONSTRAINT [PK_Computer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[NameLong] [varchar](120) NULL,
	[Address] [varchar](120) NULL,
	[Zip] [varchar](50) NULL,
	[City] [varchar](120) NULL,
	[Notes] [varchar](1024) NULL,
	[Domains]  AS ([dbo].[fn_CustDomainCount]([customerid])),
	[Computers] [int] NULL,
	[Installations] [int] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerDomain]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerDomain](
	[DomainId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[CustomerName]  AS ([dbo].[GetCustomerNameLong4Domain]([CustomerID])),
	[CustomerShortName]  AS ([dbo].[GetCustomerNameShort4Domain]([CustomerID])),
	[DomainDnsName] [nvarchar](256) NOT NULL,
	[JumpServer1] [nvarchar](256) NULL,
	[JumpServer2] [nvarchar](256) NULL,
	[JumpServer3] [nvarchar](256) NULL,
	[JumpServer4] [nvarchar](256) NULL,
	[Notes] [nvarchar](1024) NULL,
 CONSTRAINT [PK_CustomerDomain] PRIMARY KEY CLUSTERED 
(
	[DomainId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExcludeDB]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExcludeDB](
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ExcludeDB] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManagedEntityCompType]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedEntityCompType](
	[ManagedEntityTypeRowId] [int] NOT NULL,
	[ManagedEntityTypeSystemName] [varchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManagedEntityDatabaseType]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedEntityDatabaseType](
	[ManagedEntityTypeRowId] [int] NOT NULL,
	[ManagedEntityTypeGuid] [uniqueidentifier] NOT NULL,
	[ManagementPackRowId] [int] NOT NULL,
	[ManagedEntityTypeSystemName] [nvarchar](256) NOT NULL,
	[ManagedEntityTypeDefaultName] [nvarchar](256) NOT NULL,
	[ManagedEntityTypeDefaultDescription] [nvarchar](max) NULL,
	[Aktive] [bit] NOT NULL,
 CONSTRAINT [PK_ManagedEntityDatabaseType] PRIMARY KEY CLUSTERED 
(
	[ManagedEntityTypeRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManagedSQLEntityType]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagedSQLEntityType](
	[ManagedEntityTypeRowId] [int] NOT NULL,
	[ManagedEntityTypeSystemName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[ManagedEntityTypeSQLId] [int] NULL,
	[Aktiv] [bit] NOT NULL,
 CONSTRAINT [PK_ManagedSQLEntityType] PRIMARY KEY CLUSTERED 
(
	[ManagedEntityTypeRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SQLDatabase]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SQLDatabase](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ManagedEntityRowId] [bigint] NULL,
	[TopLevelHostManagedEntityRowId] [bigint] NULL,
	[Path] [varchar](255) NULL,
	[DisplayName] [varchar](255) NULL,
	[ManagedEntityTypeRowId] [bigint] NULL,
	[DatabaseType]  AS ([dbo].[GetDatabaseType]([ManagedEntityTypeRowId])),
	[Collation] [varchar](255) NULL,
	[DatabaseAutogrow] [varchar](255) NULL,
	[DatabaseName] [varchar](255) NULL,
	[LogAutogrow] [varchar](255) NULL,
	[Owner] [varchar](255) NULL,
	[RecoveryModel] [varchar](255) NULL,
	[Updateability] [varchar](255) NULL,
	[UserAccess] [varchar](255) NULL,
	[NotFoundSince] [datetime] NULL,
	[NotFoundSinceDays]  AS (datediff(day,[NotFoundSince],getdate())),
	[Modified] [datetime] NULL,
	[Inserted] [datetime] NOT NULL,
	[tempPath]  AS ([dbo].[BuildPath]([Path])),
 CONSTRAINT [PK_SQLDatabases] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SQLServer]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SQLServer](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ManagedEntityRowId] [bigint] NOT NULL,
	[TopLevelHostManagedEntityRowId] [bigint] NULL,
	[ManagedEntityDefaultName] [varchar](256) NULL,
	[DWCreatedDateTime] [datetime] NULL,
	[Changes] [int] NULL,
	[SQLMandantNameShort]  AS ([dbo].[GetCustomerNameShort]([Domain])),
	[SQLMandantName]  AS ([dbo].[GetCustomerName]([Domain])),
	[Maschine] [varchar](256) NULL,
	[Path] [varchar](256) NULL,
	[Account] [varchar](256) NULL,
	[AgentClusterName] [varchar](256) NULL,
	[AgentName] [varchar](256) NULL,
	[AuditLevel] [varchar](256) NULL,
	[AuthenticationMode] [varchar](256) NULL,
	[Cluster] [varchar](256) NULL,
	[ConnectionString] [varchar](256) NULL,
	[DisplayName] [varchar](256) NULL,
	[Domain] [varchar](256) NULL,
	[Edition] [varchar](256) NULL,
	[EnableErrorReporting] [varchar](256) NULL,
	[ErrorLogLocation] [varchar](256) NULL,
	[FullName] [varchar](256) NULL,
	[FullTextSearchServiceClusterName] [varchar](256) NULL,
	[FullTextSearchServiceName] [varchar](256) NULL,
	[InstallPath] [varchar](256) NULL,
	[InstanceID] [varchar](256) NULL,
	[InstanceName] [varchar](256) NULL,
	[Language] [varchar](256) NULL,
	[MasterDatabaseLocation] [varchar](256) NULL,
	[MasterDatabaseLogLocation] [varchar](256) NULL,
	[PrincipalName] [varchar](256) NULL,
	[ReplicationDistributionDatabase] [varchar](256) NULL,
	[ReplicationWorkingDirectory] [varchar](256) NULL,
	[ServiceClusterName] [varchar](256) NULL,
	[ServiceName] [varchar](256) NULL,
	[ServicePackVersion] [varchar](256) NULL,
	[TcpPorts] [varchar](256) NULL,
	[ToolsPath] [varchar](256) NULL,
	[Type] [varchar](256) NULL,
	[Version] [varchar](256) NULL,
	[VersionNr]  AS ([dbo].[GetSQLVersion]([Version])),
	[Modified] [datetime] NULL,
	[Inserted] [datetime] NOT NULL,
	[IsSCOM] [bit] NOT NULL,
	[NotFoundSince] [datetime] NULL,
	[NotFoundSinceDay]  AS (datediff(day,[NotFoundSince],getdate())),
	[EndOfMainstream]  AS ([dbo].[GetEndOfMainstream]([Version])),
	[EndofExtended]  AS ([dbo].[GetEndofExtended]([Version])),
	[tempPath]  AS ([dbo].[BuildPath]([Path])),
 CONSTRAINT [PK_SQLServers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SQLVersion]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SQLVersion](
	[productversion] [varchar](15) NOT NULL,
	[sqlversion] [varchar](15) NOT NULL,
 CONSTRAINT [PK_ProductVersion] PRIMARY KEY CLUSTERED 
(
	[productversion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Support]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Support](
	[VersionNr] [int] NOT NULL,
	[ReleaseDate] [date] NOT NULL,
	[EndOfMainstream] [date] NOT NULL,
	[EndofExtended] [date] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Computer] ADD  CONSTRAINT [DF_Computer_Insterted]  DEFAULT (getdate()) FOR [Insterted]
GO
ALTER TABLE [dbo].[Computer] ADD  CONSTRAINT [DF_Computer_IsSCOM]  DEFAULT ((0)) FOR [IsSCOM]
GO
ALTER TABLE [dbo].[ManagedEntityDatabaseType] ADD  CONSTRAINT [DF_ManagedEntityDatabaseType_Aktive]  DEFAULT ((1)) FOR [Aktive]
GO
ALTER TABLE [dbo].[SQLDatabase] ADD  CONSTRAINT [DF_SQLDatabase_Inserted]  DEFAULT (getdate()) FOR [Inserted]
GO
ALTER TABLE [dbo].[SQLServer] ADD  CONSTRAINT [DF_SQLServer_Insterted]  DEFAULT (getdate()) FOR [Inserted]
GO
ALTER TABLE [dbo].[CustomerDomain]  WITH CHECK ADD  CONSTRAINT [FK_CustomerDomain_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[CustomerDomain] CHECK CONSTRAINT [FK_CustomerDomain_Customer]
GO
/****** Object:  StoredProcedure [dbo].[_01_InsertSQLServer]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[_01_InsertSQLServer]
AS
WITH cte
AS (
	SELECT ME.[ManagedEntityRowId]
		,ME.[TopLevelHostManagedEntityRowId]
		,[ManagementGroupRowId]
		,[ManagedEntityGuid]
		,ME.[ManagedEntityTypeRowId]
		,[FullName]
		,Replace(SUBSTRING(Fullname, PATINDEX('%:%', Fullname) + 1, 255), ';', '.') AS [Path]
		,[Name]
		,dbo.[CutMaschine](Name) AS Maschine
		,[DisplayName]
		,[ManagedEntityDefaultName]
		,Convert(varchar(16),MP.[DWCreatedDateTime],121) as [DWCreatedDateTime]
		,[dbo].[CutDomain](FullName) AS Domain
		,ToDateTime
		,(
			SELECT COUNT(*)
			FROM [vManagedEntityProperty]
			WHERE ManagedEntityRowId = ME.ManagedEntityRowId
			) AS Changes
	FROM dtcSN.[dbo].[vManagedEntity] ME
	INNER JOIN [dbo].[vManagedEntityProperty] MP ON MP.ManagedEntityRowId = ME.ManagedEntityRowId
	INNER JOIN [dbo].ManagedSQLEntityType MT ON MT.ManagedEntityTypeRowId = ME.ManagedEntityTypeRowId
	WHERE ToDateTime IS NULL
		AND MT.[Aktiv] = 1
	)
MERGE INTO dbo.SQLServer AS TARGET
USING (
	SELECT *
	FROM cte
	) AS SOURCE
	ON (TARGET.ManagedEntityRowId = SOURCE.[TopLevelHostManagedEntityRowId])
WHEN NOT MATCHED
	THEN
		INSERT (
			ManagedEntityRowId
			,TopLevelHostManagedEntityRowID
			,ManagedEntityDefaultName
			,FullName
			,Path
			,Maschine
			,Domain
			,DWCreatedDateTime
			,[Changes]
			,IsSCOM
			)
		VALUES (
			SOURCE.ManagedEntityRowId
			,SOURCE.[TopLevelHostManagedEntityRowId]
			,(SOURCE.ManagedEntityDefaultName)
			,(SOURCE.[FullName])
			,(SOURCE.PATH)
			,(SOURCE.Maschine)
			,(SOURCE.Domain)
			,SOURCE.DWCreatedDateTime
			,SOURCE.[Changes]
			,1
			)
			-- SQL Server in Quelle ab im Ziel als nicht vorhanden markiert 
WHEN MATCHED
	AND NOT TARGET.NotFoundSince IS NULL
	THEN
		UPDATE
		SET TARGET.NotFoundSince = NULL
			---SQL Server nicht in der Quelle aber im Ziel als vorhanden markiert
WHEN NOT MATCHED BY SOURCE
	AND TARGET.NotFoundSince IS NULL
	THEN
		UPDATE
		SET TARGET.NotFoundSince = GetDate();

GO
/****** Object:  StoredProcedure [dbo].[_01a_GetPropertiesForAllSQLEntries]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE Proc [dbo].[_01a_GetPropertiesForAllSQLEntries]
as
/*
 Holt alle @ManagedEntityRowId und übergibt diese
 zusammen mit dem Namen der Zieltabelle an ReadPoperties

*/
set nocount on;
DECLARE @ManagedEntityRowId bigint

DECLARE db_cursor CURSOR FOR 
SELECT ManagedEntityRowId
  FROM [dbo].[SQLServer]

OPEN db_cursor  
FETCH NEXT FROM db_cursor INTO @ManagedEntityRowId  

WHILE @@FETCH_STATUS = 0  
BEGIN  
     exec ReadPoperties @ManagedEntityRowId ,'SQLServer'

      FETCH NEXT FROM db_cursor INTO @ManagedEntityRowId 
END 

CLOSE db_cursor  
DEALLOCATE db_cursor 

set nocount off;
GO
/****** Object:  StoredProcedure [dbo].[_02_InsertComputer]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[_02_InsertComputer]
as
With cte as (
SELECT Me.[ManagedEntityRowId]
      ,Me.[ManagementGroupRowId]
      ,Me.[ManagedEntityGuid]
      ,Me.[ManagedEntityTypeRowId]
      ,Me.[TopLevelHostManagedEntityRowId]
      ,Me.[FullName]
      ,Me.[Path]
      ,Me.[Name]
	  ,dbo.CutMaschine([Name]) as Maschine
      ,Me.[DisplayName]
      ,Me.[ManagedEntityDefaultName]
      ,Convert(varchar(16),Me.[DWCreatedDateTime],121) as [DWCreatedDateTime]
  FROM [dbo].[vManagedEntity] ME
  inner join [dbo].ManagedEntityCompType TC ON TC.[ManagedEntityTypeRowId]=ME.[ManagedEntityTypeRowId]
  Inner join [dbo].[SQLServer] SS ON SS.Maschine =ME.Name

 )



  Merge INTO[dbo].[Computer] as DST
  USING (select 
          ManagedEntityRowId
         ,TopLevelHostManagedEntityRowId
		 ,Path
		 ,FullName 
		 ,[DisplayName]
		 ,Maschine
		 ,[ManagedEntityTypeRowId]
		 ,[ManagedEntityDefaultName]
		 ,[DWCreatedDateTime]

		 from cte  
	
		) AS SOURCE
		ON (SOURCE.ManagedEntityRowId = DST.ManagedEntityRowId)

		WHEN NOT MATCHED THEN

		INSERT 
  (        ManagedEntityRowId
          ,TopLevelHostManagedEntityRowId
		  ,Path
		  ,FullName 
		  ,[DisplayName]
		  ,Maschine
		  ,[ManagedEntityTypeRowId]
		  ,[ManagedEntityDefaultName]
		  ,[DWCreatedDateTime]
   )
VALUES
  (
           SOURCE.ManagedEntityRowId
         , SOURCE.TopLevelHostManagedEntityRowId
		  ,SOURCE.[Path]
		  ,SOURCE.FullName 
		  ,SOURCE.[DisplayName]
		  ,SOURCE.Maschine
		  ,SOURCE.[ManagedEntityTypeRowId]
		  ,SOURCE.[ManagedEntityDefaultName]
		  ,SOURCE.[DWCreatedDateTime]
   
   )

When Matched   AND NOT DST.NotFoundSince IS NULL  THEN
  UPDATE SET  DST.NotFoundSince = NULL 
WHEN NOT MATCHED BY SOURCE AND DST.NotFoundSince IS NULL THEN
  UPDATE SET  DST.NotFoundSince = GetDate();
   
   

   ;

   DELETE T
FROM
(
SELECT *
, DupRank = ROW_NUMBER() OVER (
              PARTITION BY ManagedEntityRowId
              ORDER BY (SELECT NULL)
            )
FROM Computer
) AS T
WHERE DupRank > 1
GO
/****** Object:  StoredProcedure [dbo].[_02a_GetpropertiesForAllComputerEntries]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[_02a_GetpropertiesForAllComputerEntries]
as
--- Liest Copmuter für Computer per Cursor aus
--- Ermittelt lediglich die ManagedEntityRowId und übergibt diese an ReadPoperties
--- ReadPoperties lieset die Propertys aus dem XML-Feld der Tabelle ManagedEntityProperty
--- Details zur Lesefunktion siehe procedur ReadPoperties
set nocount on

DECLARE @ManagedEntityRowId bigint

DECLARE db_cursor CURSOR FOR 
SELECT ManagedEntityRowId
  FROM [dbo].[Computer]

OPEN db_cursor  
FETCH NEXT FROM db_cursor INTO @ManagedEntityRowId  

WHILE @@FETCH_STATUS = 0  
BEGIN  

     exec ReadPoperties @ManagedEntityRowId ,'Computer'

      FETCH NEXT FROM db_cursor INTO @ManagedEntityRowId 
END 

CLOSE db_cursor  
DEALLOCATE db_cursor 


GO
/****** Object:  StoredProcedure [dbo].[_02b_GetWindowsOSForAllComputerEntrys]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[_02b_GetWindowsOSForAllComputerEntrys]
as

set nocount on
DECLARE @ManagedEntityRowId bigint
DECLARE @TopLevelHostManagedEntityRowId bigint
Declare @WindowsOS nvarchar(256)
DECLARE db_cursor CURSOR FOR 
SELECT TopLevelHostManagedEntityRowId, ManagedEntityRowId
  FROM [dbo].[Computer]

OPEN db_cursor  
FETCH NEXT FROM db_cursor INTO @TopLevelHostManagedEntityRowId, @ManagedEntityRowId 

WHILE @@FETCH_STATUS = 0  
BEGIN  

    select @WindowsOS=ManagedEntityDefaultName
from vManagedEntity where TopLevelHostManagedEntityRowId=@TopLevelHostManagedEntityRowId
and ManagedEntityTypeRowId=62
update dbo.Computer
set WindowsOS=@WindowsOS where ManagedEntityRowId =@ManagedEntityRowId

      FETCH NEXT FROM db_cursor INTO @TopLevelHostManagedEntityRowId, @ManagedEntityRowId 
END 

CLOSE db_cursor  
DEALLOCATE db_cursor 

GO
/****** Object:  StoredProcedure [dbo].[_03_InsertSQLDatabases]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[_03_InsertSQLDatabases]
as

with cte as (
select 

       PM.ManagedEntityRowId
     , PM.TopLevelHostManagedEntityRowId 
     , PM.DisplayName   
     , PM.[FullName]
      ,[path] = REPLACE(PM.[Path],';',':')
	  ,PM.ManagedEntityTypeRowId
	
     From vManagedEntity as PM
inner join [dbo].ManagedEntityDatabaseType  ME
ON ME.ManagedEntityTypeRowId=PM.ManagedEntityTypeRowId
inner join  vManagedEntityProperty MP
on MP.ManagedEntityRowId = PM.ManagedEntityRowId
where MP.ToDateTime is null
And PM.DisplayName not in (select Name from dbo.excludedb)
And ME.Aktive=1
)


Merge INTO dbo.SQLDatabase as DST
USING
(select ManagedEntityRowId,  TopLevelHostManagedEntityRowId ,[path] ,ManagedEntityTypeRowId,DisplayName from cte    ) SRC
ON (SRC.ManagedEntityRowId = DST.ManagedEntityRowId)
WHEN NOT MATCHED THEN
INSERT 
  (  ManagedEntityRowId
    ,TopLevelHostManagedEntityRowId
	,[path]
	,ManagedEntityTypeRowId
	,DisplayName
   )
VALUES
  (
     SRC.ManagedEntityRowId
    ,src.TopLevelHostManagedEntityRowId
	,SRC.[path]
	,SRC.ManagedEntityTypeRowId
	,SRC.DisplayName
   )
WHEN MATCHED  AND  not NotFoundSince is null
THEN UPDATE
     SET
     DST.NotFoundSince = NULL,  Modified = GetDate()  

 WHEN NOT MATCHED BY SOURCE 
AND ( DST.NotFoundSince Is NULL)
THEN UPDATE
     SET
	 DST.NotFoundSince = Getdate(),  Modified = GetDate()
		;
  ;

  --truncate table [dbo].[SQLDatabases]
GO
/****** Object:  StoredProcedure [dbo].[03a_GetPropertiesForAllSQLDBS]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE Proc [dbo].[03a_GetPropertiesForAllSQLDBS]
as
set nocount on;
DECLARE @ManagedEntityRowId bigint

DECLARE db_cursor CURSOR FOR 
SELECT ManagedEntityRowId
  FROM [dbo].SQLDatabase

OPEN db_cursor  
FETCH NEXT FROM db_cursor INTO @ManagedEntityRowId  

WHILE @@FETCH_STATUS = 0  
BEGIN  
     exec ReadPoperties @ManagedEntityRowId,'SQLDatabase'

      FETCH NEXT FROM db_cursor INTO @ManagedEntityRowId 
END 

CLOSE db_cursor  
DEALLOCATE db_cursor 
set nocount off;


GO
/****** Object:  StoredProcedure [dbo].[ReadPoperties]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE Proc [dbo].[ReadPoperties] 
 @ManagedEntityRowId as BIGINT,
 @Target as varchar(255)
as
set nocount on
DECLARE @LOCAL_TABLEVARIABLE TABLE
( ID BIGINT
,[PropertySystemName] varchar(255)
,PropertyValue varchar(255)

)
--Auslesen des XML-Feldes Propertys aus   [OperationsManagerDW].dbo.ManagedEntityProperty  via View vManagedEntityProperty in aktueller db
;WITH SQLProperties AS
(
    SELECT 
        [ManagedEntityRowId] as [Id],   
        PropertyGuid = XProp.value('@Guid', 'uniqueidentifier'),
        PropertyValue = XProp.value('(.)', 'varchar(100)')
    FROM 
        dbo.vManagedEntityProperty (NOLOCK)
    CROSS APPLY
        PropertyXML.nodes('/Root/Property') AS XTbl(XProp) where ToDateTime Is NULL
)
INSERT INTO  @LOCAL_TABLEVARIABLE
SELECT LA.[Id],  [PropertySystemName],PropertyValue
FROM SQLProperties LA
inner join [OperationsManagerDW].[dbo].[ManagedEntityTypeProperty] MTP on MTP.PropertyGuid =LA.PropertyGuid
where [Id]= @ManagedEntityRowId   order by [PropertySystemName]
;
DECLARE @ID as         BIGINT
DECLARE @PropertyName  NVARCHAR(256)  
DECLARE @PropertyValue NVARCHAR(256) 
DECLARE @sqlCommand nvarchar(1000)

DECLARE Property_cursor CURSOR FOR 
select ID,[PropertySystemName],PropertyValue from @LOCAL_TABLEVARIABLE

OPEN Property_cursor  
FETCH NEXT FROM Property_cursor INTO @ID,@PropertyName, @PropertyValue
WHILE @@FETCH_STATUS = 0  
 BEGIN    
      /*
	   Prüfen ob das gelieferte Property sich als Spaltenname in der Tabelle @Target befindet
	   falls ja, dann dieser Splate das value des Propertys zuweisen
     */

            IF  EXISTS (SELECT * FROM Information_Schema.Columns WHERE Table_Name =  @Target AND Column_Name = @PropertyName)
                   BEGIN
                     DECLARE @stmt nvarchar(4000) =N'UPDATE  dbo.' + QUOTENAME(@Target) + ' SET ' + QUOTENAME(@PropertyName) + N' =  '+ CHAR(39) + lower(@PropertyValue) + CHAR(39) 
                                + ', Modified = '+ CHAR(39) + convert (varchar(10),GetDate(),121) + CHAR(39)
                               + N' Where  ManagedEntityRowId = ' + cast(@ID as nvarchar) +
                               ' AND (' +  QUOTENAME(@PropertyName)+ ' != ' +  CHAR(39) + @PropertyValue + CHAR(39) +
                               ' OR ' +  QUOTENAME(@PropertyName) + ' IS NULL )'
                              --- print @stmt
                              EXEC sys.sp_executesql @stmt
                               
       END



     FETCH NEXT FROM Property_cursor INTO @ID,@PropertyName, @PropertyValue

END 
   close Property_cursor
   DEALLOCATE Property_cursor




GO
/****** Object:  StoredProcedure [dbo].[SetCaseSensitiv]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[SetCaseSensitiv] 
as
Begin tran

UPDATE [dbo].[SQLDatabase]
SET [SQLDatabase].Path = [SQLServer].Path
FROM [SQLDatabase]
INNER JOIN [dbo].[SQLServer]   ON [SQLServer].ManagedEntityRowId = [SQLDatabase].TopLevelHostManagedEntityRowId

commit tran
GO
/****** Object:  StoredProcedure [dbo].[ShowPoperties]    Script Date: 25.04.2026 10:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE proc [dbo].[ShowPoperties]
                @ManagedEntityRowId as BIGINT
as
/* Hilfprozedur zum anzeigen von Properties eines .ManagedEntity
   ManagedEntityID muss manuel übergeben werden
   ShowPoperties 1359226
   Janke 2022
*/


DECLARE @LOCAL_TABLEVARIABLE TABLE
( ID BIGINT
,[PropertySystemName] varchar(255)
,PropertyValue varchar(255)

)

--- Properties werden vertikal ausgegeben...
;WITH SQLProperties AS
(
    SELECT 
        [ManagedEntityRowId],   
        PropertyGuid = XProp.value('@Guid', 'uniqueidentifier'),
        PropertyValue = XProp.value('(.)', 'varchar(100)')
    FROM 
       OperationsManagerDW.dbo.ManagedEntityProperty 
    CROSS APPLY
        PropertyXML.nodes('/Root/Property') AS XTbl(XProp) where ToDateTime Is NULL
)

SELECT ManagedEntityRowId, LA.PropertyGuid, [PropertySystemName],PropertyValue
FROM SQLProperties LA
inner join [dbo].[vManagedEntityTypeProperty] MTP on MTP.PropertyGuid =LA.PropertyGuid
where LA.ManagedEntityRowId= @ManagedEntityRowId  order by [PropertySystemName]



GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Beinhaltet die Namen der Customer' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Beinhaltet die Domain der jeweiligen Customers.
Anhand der Domain wird entschieden um welchen Cústomer es sich handelt.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CustomerDomain'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1= Entry wird gelesen  0 = Entry ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ManagedSQLEntityType', @level2type=N'COLUMN',@level2name=N'Aktiv'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Beinhaltet die passenden Entrys aus SCOM, die als SQL-Systeme erkannt werden' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ManagedSQLEntityType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SQLServer', @level2type=N'COLUMN',@level2name=N'SQLMandantName'
GO
USE [master]
GO
